Package: com.michael.selector
Name: Selector(简体中文)
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Version: 0.1.1
Architecture: iphoneos-arm
Conflicts: me.nepeta.selector
Provides: me.nepeta.selector
Replaces: me.nepeta.selector
Description: 选择文本以翻译或搜索
Maintainer: halo_michael <yc992147156@me.com>
Author: Nepeta
Section: Tweaks
